@import url(./reset.css);

/*Colors and other stuff*/
:root {
  --animation_time: 100ms;

  --green: rgb(22, 228, 22);
  --dark_green: rgb(0, 20, 0);
  --white: aliceblue;

  --text_size_large: 10vw;
  --text_size_medium: 5vw;
  --text_size_small: 2vw;

  --margin_main_w: 4vw;
  --margin_main_h: 4vh;
  --margin_small_w: 1vw;
  --margin_small_h: 1vh;
}

* {
  font-family: url(../Fonts/Helvetica.ttf);
}

body {
  background-image: url(../Images/Main/BackroundMain.png);
  background-size: 100%;
  background-repeat: repeat-y;
  margin: 0;
}

main {
  /* margin-top: 13vw; */
  margin-bottom: 5vh;
  margin-top: 100vh;
}

/*Title*/
h1 {
  text-align: center;
  font-size: var(--text_size_large);
  color: var(--white);
}
/* h2 is top bar biorain Games */
h2 {
  display: inline-block;
  text-align: left;
  font-size: var(--text_size_medium);
  color: var(--green);
  vertical-align: middle;
  padding: 0;
  margin: 0 var(--margin_small);
}

/*Game names on home page*/
h3 {
  text-align: center;
  font-size: var(--text_size_small);
  color: var(--white);
  margin-left: 8vw;
  width: 20vw;
  word-wrap: break-word;
  margin-top: var(--margin_small_h);
}

p {
  text-align: justify;
  font-size: var(--text_size_small);
  color: var(--white);
  width: 60vw;
  margin: 0 auto;
  margin-top: var(--margin_main_h);
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
}

footer {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  margin-top: var(--margin_main_h);
  margin-bottom: var(--margin_main_h);
  color: var(--green);
  font-size: var(--text_size_small);
}

footer a {
  background-color: var(--dark_green);
  padding: var(--margin_small_h) var(--margin_small_w);
  border-radius: 0.5rem;
  transition: all var(--animation_time) ease-in;
  font-size: var(--text_size_small);
  color: var(--white);
  word-wrap: break-word;
  text-decoration: none;
  width: fit-content;
}

footer a:hover {
  scale: 1.1;
}

/* Classes */

.game_button img {
  transition: all var(--animation_time) ease-in;
  display: inline;
  border-radius: 5vw;
  width: 28vw;
  margin-left: var(--margin_main_w);
  float: left;
  vertical-align: bottom;
}

.game_button img:hover {
  transform: translateY(-5vh) scale(1.1);
  box-shadow: black 0 1vw 2vw;
}

.top_bar img {
  display: inline-block;
  width: var(--text_size_medium);
  border-radius: var(--text_size_medium);
  vertical-align: middle;
  margin-left: 1vw;
  margin-top: 0;
  border: var(--green) solid 0.5vh;
}

.top_bar img:hover {
  transform: scale(1.1);
}

.game_button {
  display: inline-grid;
  margin-top: 8vh;
}

.top_bar {
  display: block;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 999;
  padding: 1vw 0;
  background-color: var(--dark_green);
}

.by {
  background-color: var(--dark_green);
  padding: var(--margin_small_h) var(--margin_small_w);
  border-radius: 0.5rem;
  transition: all var(--animation_time) ease-in;
  display: block;
  margin: 0 auto;
  font-size: var(--text_size_small);
  color: var(--white);
  word-wrap: break-word;
  margin-top: var(--margin_main_h);
  text-decoration: none;
  width: fit-content;
}

.by:hover {
  scale: 1.1;
}

.dev {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
  padding: var(--margin_small_h) var(--margin_small_w);
  margin-top: var(--margin_main_h);
  background-color: rgba(22, 228, 22, 0.1);
  border-radius: 0.5rem;
}

.dev h2 {
  text-align: center;
  color: var(--green);
  font-size: var(--text_size_medium);
}

.dev p {
  text-align: justify;
}

.floating_backround {
  min-height: 100vh;
  /* background-color: red; */
  padding-top: var(--margin_main_h);
  padding-bottom: var(--margin_main_h);
  background-image: url(../Images/Main/rain.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(0, 143, 0);
  background-blend-mode: color-burn;
}

.game_list h2 {
  display: block;
  text-align: center;
}

.main_title {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}
